*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px; }

.hamburger-menu .menu, .img-card_overlay, .img-card_pic {
  width: 100%;
  height: 100%; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      position: fixed;
      height: 100vh;
      width: 50vw;
      left: -50vw;
      background-color: #262626;
      transition: left 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar-navigation-left .left-img {
        box-shadow: 5px 2px 1px #1f1d1d;
        border-radius: 10px;
        position: absolute;
        width: 50%; }
        .navbar-navigation-left .left-img-1 {
          top: 15%;
          left: 20%; }
        .navbar-navigation-left .left-img-2 {
          top: 35%;
          left: 30%; }
        .navbar-navigation-left .left-img-3 {
          top: 55%;
          left: 20%; }
    .navbar-navigation-right {
      height: 100vh;
      width: 50vw;
      position: fixed;
      right: -50vw;
      background-color: #1f1d1d;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: right 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar-navigation-right .nav-list_item {
        list-style: none; }
        .navbar-navigation-right .nav-list_item-link {
          text-decoration: none;
          color: #bbb;
          font-size: 50px;
          font-family: "Dancing Script", sans-serif;
          display: block;
          margin: 20px;
          text-align: center;
          transition: all .5s; }
          .navbar-navigation-right .nav-list_item-link:hover {
            color: #d3ab55;
            letter-spacing: 4px; }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #262626;
  color: #fff; }

.gallery {
  display: flex;
  flex-wrap: wrap; }

.footer {
  background-color: #262626;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(-90deg); }

.checkbox:checked ~ .hamburger-menu .menu .menu-line-1 {
  transform: rotateZ(-40deg);
  transform-origin: right; }

.checkbox:checked ~ .hamburger-menu .menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu .menu-line-3 {
  transform: rotateZ(40deg);
  transform-origin: right; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #d3ab55;
      transition: all .5s .3s; }

.brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .brand-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #d3ab55;
    font-size: 60px;
    margin-right: 50px;
    border: 3px solid #d3ab55;
    height: 110px;
    width: 110px;
    border-radius: 50%; }
  .brand-heading {
    color: #fff;
    text-align: center; }
    .brand-heading_text {
      font-size: 60px;
      font-weight: 100;
      text-transform: uppercase; }
    .brand-heading_sub-text {
      font-size: 30px;
      opacity: 0.5;
      font-weight: 100;
      text-transform: uppercase; }
  .brand-banner {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 150px; }
    .brand-banner_heading {
      font-size: 60px;
      font-weight: 100;
      text-transform: capitalize;
      font-family: "Dancing Script", sans-serif;
      font-size: 100px;
      color: #d3ab55; }
    .brand-banner_sub-heading {
      margin-top: 20px;
      font-weight: 100;
      word-spacing: 5px;
      font-size: 40px;
      opacity: 0.5;
      text-transform: capitalize; }

.about-left {
  width: 40%;
  position: relative;
  left: -200px; }
  .about-left__img {
    width: 100%; }

.about-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px; }
  .about-right_header {
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    font-family: "Dancing Script", sans-serif;
    color: #d3ab55;
    margin-bottom: 50px; }
  .about-right_sub-header {
    font-size: 30px;
    opacity: 0.5;
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-bottom: 50px; }
  .about-right_stars {
    color: #d3ab55;
    margin: 20px 0; }
  .about-right_description {
    text-align: justify;
    font-size: 20px;
    opacity: 0.7; }
    .about-right_description::first-letter {
      padding-left: 50px; }
  .about-right .btn-read {
    width: 200px; }

.img-card {
  position: relative;
  width: 33.33%;
  height: 30vw;
  background-color: black;
  overflow: hidden; }
  .img-card:hover .img-card_overlay {
    left: 0; }
  .img-card_overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
    transition: all .5s; }
    .img-card_overlay-heading {
      font-size: 50px;
      font-weight: 100; }
    .img-card_overlay-text {
      font-size: 20px; }
    .img-card_overlay-btn {
      cursor: pointer;
      outline: none;
      margin-top: 40px;
      font-size: 14px;
      text-transform: uppercase;
      color: #d3ab55;
      background-color: #fff;
      width: 160px;
      height: 50px;
      border: 1px solid #d3ab55;
      border-radius: 30px; }
  .img-card_pic {
    opacity: 0.8;
    object-fit: cover; }

.btn {
  margin-top: 80px;
  text-transform: uppercase;
  color: #d3ab55;
  outline: none;
  border: 1px solid #d3ab55;
  width: 150px;
  height: 60px;
  background-color: transparent;
  transition: all .7s;
  font-weight: 300; }
  .btn:hover {
    background-color: #d3ab55;
    color: #fff;
    cursor: pointer; }

.footer-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .footer-brand-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #d3ab55;
    font-size: 60px;
    margin-right: 50px;
    border: 3px solid #d3ab55;
    height: 110px;
    width: 110px;
    border-radius: 50%; }
  .footer-brand-heading {
    color: #fff;
    text-align: center; }
    .footer-brand-heading_text {
      font-size: 32px;
      font-weight: 100;
      text-transform: uppercase; }
    .footer-brand-heading_sub-text {
      font-size: 30px;
      opacity: 0.5;
      font-weight: 100;
      text-transform: uppercase; }

.footer .social-list {
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center; }
  .footer .social-list_item {
    list-style: none; }
    .footer .social-list_item-link {
      text-decoration: none;
      font-size: 30px;
      color: #fff;
      padding: 10px;
      opacity: .7;
      transition: all .7s; }
      .footer .social-list_item-link:hover {
        opacity: 1; }

.footer .copyright {
  margin-top: 40px;
  opacity: .5; }
